{% extends 'base.html.twig' %}

{% block title %}Surplus fédéral de Charleston{% endblock %}

{% block body %}

        <div class="container container-home">
            <div class='container'>
                <h1>Viens chercher bonheur dans 'La CAVE A MOMO:myShop' </h1> 
                    
                    <h2>Liste des produits</h2>
            
                <table class="table">
                    <tbody>
                        <div class="row">
                            {% for product in products %}
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ product.images }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <p class="card-text">{{ product.price }} Thunes</p>
                                        <p class="card-text">Stock: {{ product.stock }}</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </table>
            </div>
        
        </div>
        </tbody>
        {% endblock %}

