{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="form">
            <h2> Ajoutez une catégorie</h2>
            {% include 'layout/_flash_message.html.twig' %} {# on inclut le template de message flash pour afficher les messages de succès, d'erreur ou d'information #}
            {{ form_start(form) }}
                {{ form_row(form.name, {"attr": {"class": "form-control"}}) }}
                <input type="submit" value="Sauvegarder" class="btn btn-primary mt-4">
                <a href="{{ path('app_categorieController') }}" class="btn btn-secondary">Voir les catégories</a>
                <a href="{{ path('app_home_page') }}" class="btn btn-success">Retour a la Page d'accueil</a>
            {{ form_end(form) }}
        <div>    
    <div>       
{% endblock %}
