<nav class="navbar navbar-expand-lg bg-body-tertiary"data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home_page') }}">Momo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home_page') }}">Home</a>
        </li>
        {% if categories is defined %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
            {% for categorie in categories %}
              <li><a class="dropdown-item text-uppercase small ls-1" href="#">{{categorie.name}}</a></li>
              <li><hr class="dropdown-divider border-alpha"></li>
                {% for subcategorie in categorie.subcategories %}
                                <li><a class="dropdown-item text-success" href="{{ path('app_home_product_filter',{'id':subcategorie.id}) }} ">{{subcategorie.name}}</a></li>
                {% endfor %}
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
          {# if is_granted('ROLE_ADMIN') est une condition qui vérifie si l'utilisateur connecté a le rôle ROLE_ADMIN,
          ce qui permet d'afficher le menu "Admin" uniquement aux utilisateurs ayant ce rôle,
          assurant ainsi que les fonctionnalités d'administration ne sont accessibles qu'aux utilisateurs autorisés.#}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_categorie_index') }}">Categories Manager</a></li>
            <li><a class="dropdown-item" href="{{ path('app_categorie_new') }}">Ajouter une nouvelle categorie</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_subcategorie_index') }}">Sous-catégories Manager</a></li>
            <li><a class="dropdown-item" href="{{ path('app_subcategorie_new') }}">Ajouter une sous-catégories</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_product_index') }}">Product Manager</a></li>
            <li><a class="dropdown-item" href="{{ path('app_product_new') }}">Ajouter un produit</a></li>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Utilisateurs</a></li>
            
          </ul>
        </li>
        {% endif %}
        {% if app.user == false %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
          </li>
          
          {% else %}
        {% if is_granted("ROLE_ADMIN") %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commandes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_orders_show',{'type':'is-completed'}) }}">Commandes livrees</a></li>
            <li><a class="dropdown-item" href="{{path('app_orders_show',{'type':'no_delivery'}) }}">Commandes Non Livrées</a></li>
            <li><a class="dropdown-item" href="{{path('app_orders_show',{'type':'pay-on-stripe-not-delivered'}) }}">Commandes </a></li>
            <li><a class="dropdown-item" href="{{path('app_orders_show',{'type':'pay-on-stripe-is-delivered'}) }}">Commandes </a></li>
            
          </ul>
        </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_cart') }}">Mon Panier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
          </li>
        {% endif %}
      </ul>
      <form action="{{ path('app_search_engine') }}" method="get" data-turbo="false" class="d-flex">
    <input name="word" type="search" placeholder="Rechercher un produit" aria-label="Search" class="form-control me-2">
    <button type="submit" class="btn btn-outline-success">Recherche</button>
</form>
    </div>
  </div>
</nav>