{% extends 'base.html.twig' %}

{% block title %}Moteur de Recherche{% endblock %}

{% block body %}

        <div class="container container-home">
            <div class='container'>
                <h1>Résultat de la recherche du mot: "{{ word }}"</h1> 
                    
                        <div class="row">
                            {% for product in products %}
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ asset('uploads/'~product.images)}}" class="imgproduct card-img-top">
                                    <div class="card-body">
                                        <a href="{{ path('app_home_product_show',{'id':product.id}) }}" class="titleProductionLink" ><h5 class="card-title">{{ product.name }}</h5></a>
                                        <p class="card-text">{{ product.description|slice(0,60)}} </p>
                                        <p class="card-text">{{ product.price }} Thunes</p>
                                        <p class="card-text">Stock: {{ product.stock }}</p>
                                        <h3> {{product.price}} Thunes</h3>
                                        <a href="{{ path('app_cart_new',{'id':product.id})}}" class="btn btn-primary">Passe a la Caisse</a>
                                        
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                     <div class='mt-5'> {# mt marging-top #}
                     {# {{ knp_pagination_render(products, 'layout/pagination_template.html.twig')}}   #}
                     </div> 
              
            </div>
        
        </div>
       
    {% endblock %}

